body {
  background: black;
  color: white;
  text-align: center;
}
div {
  border-color: red;
  border-width: 3px;
  padding: 1px;
  /*width: 100px;
  height: 100px;*/
}
.tiles {
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  /*font-stretch: expanded;*/
  text-transform: uppercase;
  padding: 5px;
  border-color: black;
  border-style: solid;
  flex-grow: 1;
  font-size: 45px;
}

.gameBoxes {
  display: flex;
  flex-direction: row;
  /*color: transparent;*/
  flex-grow: 1;
}

.availBoxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.letters {
  width: 25px;
  height: 25px;
  border-color: black;
  background-color: white;
  border-width: 3px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
}
